<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Ecartify</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Ecartify</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
    			<string>ecartify.page.link</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb938808440670126</string>
					<string>com.googleusercontent.apps.184119460900-e0lthr913442e64d43fhhtda540kg7br</string>
					<string>https</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FacebookAppID</key>
		<string>938808440670126</string>
		<key>FacebookClientToken</key>
		<string>b43a29a45f5cd5a8be1bd1d83e8393c5</string>
		<key>FacebookDisplayName</key>
		<string>Ecartify</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
			<string>sms</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>App needs to access Camera while scan qr code for product search.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access your location to locate the receipt and deliver the requests when in the background.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs access your location to locate the receipt and deliver the requests when open.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Allow the app to record using your phone's microphone.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Allow access your photo library.</string>
		<key>UIBackgroundModes</key>
		<array/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
